PORT=4000
JWT_SECRET=sua_chave_secreta_aqui
DATABASE_URL=postgresql://usuario:senha@host/neondb?sslmode=require
CLIENT_URL=https://seu-front-no-render.onrender.com
VITE_API_URL=https://sua-api-no-render.onrender.com/api
API_PROXY_URL=https://sua-api-no-render.onrender.com
